# Protect the clean repository from massive multi-gigabyte build artifacts
.buildroot-core/
.buildroot*.tar*
/output/
/build/
/host/
/images/
/.vscode/
*.config
*.config.old
.host_configured
# deliverable
./artifacts/
.buildroot_gpg/
